ul.block-news
    li.block-news__item
        .block-news__item-img
            img(src="assets/img/news_01.png", alt="")
        .block-news__item-text-wrapper
            time(datetime="2020-11-06") 06.11.2020
            h2.block-news__item-headline Заголовок новости
            p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
        a(href="#")
    li.block-news__item
        .block-news__item-img
            img(src="assets/img/news_01.png", alt="")
        .block-news__item-text-wrapper
            time(datetime="2020-11-06") 06.11.2020
            h2.block-news__item-headline Заголовок новости
            p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
        a(href="#")
    li.block-news__item
        .block-news__item-img
            img(src="assets/img/news_01.png", alt="")
        .block-news__item-text-wrapper
            time(datetime="2020-11-06") 06.11.2020
            h2.block-news__item-headline Заголовок новости
            p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
        a(href="#")