.contacts-info
    .contacts-info__header
        div
            h2.contacts-info__header-name Яковкин Максим
            span.contacts-info__header-line Менеджер по продажам
        div
            a.contacts-info__header-line(href="tel:+73422357880") +7 (342) 235-78-80
            a.contacts-info__header-line(href="mailto:osk@osk-company.ru") osk@osk-company.ru
    .contacts-info__schedule
        span.contacts-info__schedule-weekdays График: <span>Пн Вт Ср Чт Пт</span> c 9:00 до 17:00
        span.contacts-info__schedule-weekends <span>Сб Вс</span> Выходной
    ul.contacts-info__list
        li
            span.contacts-info__list-category Полное наименование 
            span.contacts-info__list-value Общество с ограниченной ответственностью «ОСК»
        li
            span.contacts-info__list-category Сокращённое наименование
            span.contacts-info__list-value ООО «ОСК»
        li
            span.contacts-info__list-category Адрес местонахождения (юридический адрес)
            span.contacts-info__list-value 614068, г. Пермь, ул. Дзержинского, д. 12
        li
            span.contacts-info__list-category Почтовый адрес
            span.contacts-info__list-value 614068, г. Пермь, ул. Дзержинского, д. 12
        li
            span.contacts-info__list-category Контактные телефоны
            span.contacts-info__list-value (342) 235-78-80; факс: (342) 235-78-08
        li
            span.contacts-info__list-category E-mail
            span.contacts-info__list-value osk@osk-company.ru
        li
            span.contacts-info__list-category Web сайт: 
            span.contacts-info__list-value http://www.osk-company.ru/
        li
            span.contacts-info__list-category Свидетельство ОГРН
            span.contacts-info__list-value серия 59 № 001766910 от 16.12.2002 г., выдано ИМНС РФ по Ленинскому р-ну г. Перми
        li
            span.contacts-info__list-category ИНН / КПП 
            span.contacts-info__list-value 1025900529380
        li
            span.contacts-info__list-category ОКТМО
            span.contacts-info__list-value 5902136601 / 590301001
        li
            span.contacts-info__list-category ОКВЭД
            span.contacts-info__list-value 57701000
        li
            span.contacts-info__list-category ОКОНХ
            span.contacts-info__list-value  46.69, 46.62, 46.71, 46.74, 46.90, 68.20
        li
            span.contacts-info__list-category ОКПО
            span.contacts-info__list-value 71100
        li
            span.contacts-info__list-category Банковские реквизиты
            span.contacts-info__list-value 55061537 <br>Р/СЧ: 40702810549490151328 <br><br>Банк: ВОЛГО-ВЯТСКИЙ БАНК СБЕРБАНКА <br>РФ г НИЖНИЙ НОВГОРОД <br>БИК: 042202603 <br>К/сч: 30101810900000000603 <br>Адрес местонахождения банка: г. Пермь, ул. Монастырская, д. 4
        li
            span.contacts-info__list-category Исполнительный директор
            span.contacts-info__list-value Яковкин Максим Анатольевич, на основании генеральной доверенности № 1/19 от 09.01.2019
    a.contact-info__download(href="#" download)
        include ../_common/svg/download.svg
        span Скачать

        

