.block-why-are-we {
    background-image: url(../img/why-are-we-back.png);
    position: relative;

    .main-headline {
        margin-bottom: 28px;
    }

    &::after {
        background-image: url(../img/why-are-we-dec__after.png);
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 500px;
        position: absolute;
        right: 0;
        top: -70px;
        width: 270px;
        user-select: none;
    }

    &::before {
        background-image: url(../img/why-are-we-dec__before.png);
        background-repeat: no-repeat;
        bottom: -90px;
        content: "";
        display: block;
        height: 520px;
        position: absolute;
        left: 0;
        width: 300px;
        user-select: none;
    }

    @media (max-width: 1650px) {
        &::after, &::before {
            display: none;
        }
    }
}

.why-are-we-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "waw-1 waw-3 waw-5"
    "waw-2 waw-4 waw-6";

    @media (max-width: 1200px) {
        gap: 24px 12px;
    }

    @media (max-width: 992px) {
        gap: 24px 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "waw-1 waw-2"
        "waw-3 waw-4"
        "waw-5 waw-6";
    }
}

.why-are-we-list__item {
    position: relative;
    width: 50%;

    &:nth-of-type(1) {
        grid-area: waw-1;
    }
    &:nth-of-type(2) {
        grid-area: waw-2;
        justify-self: end;
    }
    &:nth-of-type(3) {
        grid-area: waw-3;
    }
    &:nth-of-type(4) {
        grid-area: waw-4;
        justify-self: end;
    }
    &:nth-of-type(5) {
        grid-area: waw-5;
    }
    &:nth-of-type(6) {
        grid-area: waw-6;
        justify-self: end;
    }

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {

        .why-are-we-list__item-text {
            color: #14a7e3;
        }

        .why-are-we-list__item-icon-wrapper {
            fill: #FFF;
        }

        .why-are-we-list__item-icon {
            filter: none;
            opacity: 1;
        }
    }

    @media (max-width: 1200px) {
        width: 70%;

        &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6) {
            text-align: end;

            .why-are-we-list__item-icon-wrapper {
                margin: 0 0 16px auto;
            }
        }
    }

    @media (max-width: 992px) {
        width: 100%;

        &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6) {
            text-align: start;

            .why-are-we-list__item-icon-wrapper {
                margin: 0 0 16px 0;
            }
        }
    }
}

.why-are-we-list__item-icon-wrapper {
    fill: #0a94cc;
    height: 88px;
    margin-bottom: 16px;
    position: relative;
    transition: all .2s ease-in-out;
    width: 88px;

    svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 576px) {
        height: 60px;
        width: 60px;
    }
}

.why-are-we-list__item-icon {
    background-image: url(../img/heptagon-mid.png);
    background-repeat: no-repeat;
    filter: grayscale(1);
    height: 88px;
    opacity: 0.2;
    transition: all .2s ease-in-out;
    width: 88px;

    @media (max-width: 576px) {
        background-size: 60px;
        height: 60px;
        width: 60px;
    }
}

.why-are-we-list__item-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    transition: all .2s ease-in-out;

    @media (max-width: 480px) {
        font-size: 16px;
    }
}