.block-why-are-we.main-block
    .container
        h2.main-headline.main-headline_white Почему мы?
            span 04
        ul.why-are-we-list
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_01.svg
                span.why-are-we-list__item-text 20 лет на рынке
                a(href="#")
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_02.svg
                span.why-are-we-list__item-text Поставки в таможенный союз
                a(href="#")
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_03.svg
                span.why-are-we-list__item-text Собственное производство
                a(href="#")
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_04.svg
                span.why-are-we-list__item-text Теплый склад
                a(href="#")
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_05.svg
                span.why-are-we-list__item-text Быстрая отгрузка
                a(href="#")
            li.why-are-we-list__item
                .why-are-we-list__item-icon-wrapper
                    .why-are-we-list__item-icon
                    include ../_common/svg/why-are-we-icon_06.svg
                span.why-are-we-list__item-text Сертификация
                a(href="#")