.header
    .container
        .header-half
            a(href="index.html").logo
                picture
                    source(srcset="assets/img/logo-osk.png" media="(max-width: 768px)")
                    source(srcset="assets/img/logo-osk_white.png")
                    img(src="assets/img/logo-osk_white.png" alt="Логотип ОСК")
            span.logo-description Производственно-коммерческая  фирма «ОСК»
        .header-half
            a.header__mail(href="mailto:osk@osk-company.ru") 
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14px', height='11px')
                    path(fill-rule='evenodd', fill='rgb(0, 123, 173)', d='M12.993,10.994 C8.953,10.985 4.913,10.990 0.873,10.991 C0.733,10.991 0.602,10.960 0.478,10.895 C0.235,10.769 0.096,10.552 0.007,10.294 C0.007,7.821 0.007,5.349 0.007,2.876 C0.134,2.976 0.263,3.074 0.389,3.175 C1.824,4.320 3.259,5.465 4.693,6.611 C5.279,7.078 5.861,7.550 6.453,8.008 C6.811,8.285 7.191,8.273 7.554,8.005 C7.692,7.903 7.826,7.797 7.961,7.692 C9.918,6.157 11.875,4.622 13.833,3.088 C13.882,3.049 13.925,2.995 13.995,2.991 C13.995,5.425 13.995,7.859 13.995,10.294 C13.826,10.784 13.499,10.995 12.993,10.994 ZM7.129,6.488 C7.032,6.567 6.965,6.571 6.870,6.490 C6.619,6.278 6.361,6.075 6.105,5.869 C4.880,4.883 3.656,3.897 2.430,2.911 C1.623,2.262 0.815,1.614 0.007,0.965 C0.007,0.879 0.007,0.794 0.007,0.708 C0.178,0.209 0.516,0.006 1.023,0.007 C5.017,0.015 9.012,0.012 13.006,0.013 C13.115,0.013 13.224,0.004 13.332,0.033 C13.679,0.124 13.878,0.372 13.995,0.708 C13.995,0.794 13.995,0.879 13.995,0.965 C13.522,1.344 13.049,1.722 12.577,2.102 C10.760,3.563 8.943,5.024 7.129,6.488 Z')
                span osk@osk-company.ru
            a.header_tel(href="tel:+73422357880")
                span +7 (342) 235-78-80
                div 
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='15px', height='26px')
                        path(fill-rule='evenodd', fill='rgb(255, 254, 254)', d='M0.008,12.999 C0.008,9.513 0.008,6.026 0.008,2.540 C0.008,1.041 1.081,0.003 2.629,0.003 C5.886,0.003 9.144,0.002 12.401,0.001 C13.909,0.000 14.994,1.047 14.994,2.512 C14.995,9.503 14.996,16.494 14.996,23.485 C14.996,24.946 13.911,25.996 12.401,25.996 C9.107,25.997 5.812,25.997 2.517,25.995 C1.121,25.994 0.011,24.923 0.009,23.568 C0.005,20.045 0.008,16.522 0.008,12.999 ZM1.061,20.305 C5.371,20.305 9.650,20.305 13.936,20.305 C13.936,14.374 13.936,8.463 13.936,2.550 C9.633,2.550 5.347,2.550 1.061,2.550 C1.061,8.478 1.061,14.383 1.061,20.305 ZM6.197,22.920 C6.201,23.613 6.785,24.178 7.497,24.174 C8.245,24.170 8.810,23.607 8.803,22.872 C8.796,22.196 8.216,21.651 7.503,21.650 C6.766,21.649 6.194,22.205 6.197,22.920 ZM7.501,1.746 C7.501,1.746 7.501,1.745 7.501,1.744 C7.790,1.744 8.078,1.743 8.366,1.745 C8.575,1.746 8.720,1.656 8.727,1.453 C8.735,1.231 8.577,1.133 8.363,1.132 C7.786,1.128 7.210,1.130 6.633,1.133 C6.432,1.135 6.275,1.224 6.272,1.430 C6.268,1.645 6.412,1.748 6.636,1.747 C6.924,1.744 7.213,1.746 7.501,1.746 Z')
                a(href="javascript:;").burger.js--burger
                    span.burger-line.burger-line_top
                    span.burger-line.burger-line_middle
                    span.burger-line.burger-line_bottom
nav.header-nav
    ul.container
        li.header-nav__item
            a(href="index.html") Главная
        li.header-nav__item.header-nav__item_dropout
            span Продукция
            ul.header-nav__dropout
                li
                    a(href="product.html") Рукава высокого давления
                li
                    a(href="product.html") Промышленные рукава
                li
                    a(href="product.html") Ленточные пилы по металлу
        li.header-nav__item
            a(href="news.html") Новости
        li.header-nav__item
            a(href="about.html") О компании
        li.header-nav__item
            a(href="contacts.html") Контакты