.block-about {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;

    img {
        display: inline-block;
        max-width: 100%;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .main-headline {
        margin-bottom: 52px;
    }
}
