.gray-background
    .block-about.main-block.container
        div
            h2.main-headline О компании
                span 01
            h3.headline-small Производственно-коммерческая фирма «ОСК»
            p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий, а также предприятий нефтегазовой, пищевой, горнодобывающей, целлюлозно-бумажной отраслей.
            p Мы являемся официальным российским дистрибьютором таких известных торговых марок, как BANSO (Германия), FORESTILL (Франция), Lenox (США), PILANA (Чешская Республика), AMADA (Япония), SEMPERIT (Австрия), Wood-Mizer (Республика Польша). Компания "ОСК" осуществляет продажу промышленной гидравлики, деревообрабатывающего оборудования и металлорежущего инструмента.
        div
            img(src="assets/img/main-about.png", alt="")
