.block-about {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;

    img {
        display: block;
        max-width: 100%;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .main-headline {
        margin-bottom: 52px;
    }

    @media (max-width: 992px) {
        grid-template-columns: 1fr;

        img {
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        .main-headline {
            margin-bottom: 40px;
        }
    }
}
