ul.block-gallery 
    li.block-gallery__item
        img(src="assets/img/gallery_01.png", alt="")
        a(data-fancybox="gallery" href="assets/img/gallery_01.png")
    li.block-gallery__item
        img(src="assets/img/gallery_02.png", alt="")
        a(data-fancybox="gallery" href="assets/img/gallery_02.png")
    li.block-gallery__item
        img(src="assets/img/gallery_03.png", alt="")
        a(data-fancybox="gallery" href="assets/img/gallery_03.png")
    li.block-gallery__item
        img(src="assets/img/gallery_04.png", alt="")
        a(data-fancybox="gallery" href="assets/img/gallery_04.png")
    li.block-gallery__item
        img(src="assets/img/gallery_05.png", alt="")
        a(data-fancybox="gallery" href="assets/img/gallery_05.png")
