.block-partners.main-block.container
    h2.main-headline Наши партнёры
        span 05
    .partners-slider__wrapper
        .partners-slider.js--partners-slider
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
            .partners-slider__item
                img(src="assets/img/partner_01.png", alt="Логотип ЧПУ Инжиниринг")
                a(href="#")
        .partners-slider__arrow.partners-slider__arrow_prev.js--partners-slider__arrow_prev
            include ../_common/svg/slider-prev.svg
        .partners-slider__arrow.partners-slider__arrow_next.js--partners-slider__arrow_next
            include ../_common/svg/slider-next.svg