.footer-top
    .footer-contacts
        h2.main-headline.main-headline_white Контакты
            span 06
        address.footer-address
            ul
                li Телефоны: 
                    a(href="tel:+73422357880") +7 (342) 235-78-80
                li Почта: 
                    a(href="mailto:osk@osk-company.ru") osk@osk-company.ru
                li Мы в соцсетях:
                    ul.soc-list
                        li
                            a(href="#")
                                include ../_common/svg/soc-inst.svg
                        li
                            a(href="#")
                                include ../_common/svg/soc-vk.svg
                        li
                            a(href="#")
                                include ../_common/svg/soc-tg.svg
                        li
                            a(href="#")
                                include ../_common/svg/soc-4.svg
                        li
                            a(href="#")
                                include ../_common/svg/soc-5.svg
                li Адрес: 614068, г. Пермь, ул. Дзержинского, д. 12
    .footer-map
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3096c77022ad2efae118adcacb600af4e7ce9e580c7b2dcb263343eff4859c8b&amp;source=constructor" width="100%" height="520" frameborder="0"></iframe>
.footer-bottom
    ul.footer-bottom__list.container
        li.footer-bottom__list-item
            a(href="index.html").footer-logo
                img(src="assets/img/logo-osk_small_white.png", alt="Логотип ОСК")
                span &copy; ООО "ОСК"
        li.footer-bottom__list-item
            a(href="#").footer-link Политика конфиденциальности
        li.footer-bottom__list-item
            a(href="#").footer-link Пользовательское соглашение
        li.footer-bottom__list-item
            a.footer-praweb(href="")
                include ../_common/svg/praweb-logo.svg