nav#mobile-burger-menu
    ul
        li
            a(href="index.html") Главная
        li
            span Продукция
            ul
                li
                    a(href="product.html") Рукава высокого давления
                li
                    a(href="product.html") Промышленные рукава
                li
                    a(href="product.html") Ленточные пилы по металлу
        li
            a(href="news.html") Новости
        li
            a(href="about.html") О компании
        li
            a(href="contacts.html") Контакты