div
    form.contacts-form(action="")
        h2.contacts-form__headline Напишите нам и наш менеджер свяжется с вами в ближайшее время
        label.input-usual.input-usual_name(for="")
            input(type="text", name="name" placeholder="Имя *" required)
        label.input-usual.input-usual_phone(for="")
            input(type="tel", name="phone" placeholder="Телефон *" required)
        label.input-usual.input-usual_mail(for="")
            input(type="email", name="mail" placeholder="E-mail *" required)
        textarea.input-comment(name="notation", cols="30", rows="10" placeholder="Сообщение")
        input.input-submit(type="submit", value="Отправить")