@font-face {
    font-family: "MSC";
    src: url("../fonts/MuseoSansCyrl__thin.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "MSC";
    src: url("../fonts/MuseoSansCyrl__medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "MSC";
    src: url("../fonts/MuseoSansCyrl__bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "MSC";
    src: url("../fonts/MuseoSansCyrl__heavy.otf") format("opentype");
    font-weight: 900;
}

@black: #191919;
@white: #FFF;
@blue: #007bad;

.trans(@time: 0.25s) {
    transition: all @time ease-in-out;
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
    color: @black;
    font-family: 'MSC', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'MSC', sans-serif;
}

button:focus {
    outline: none;
}

a {
    color: #232323;
    font-family: 'MSC', sans-serif;
    text-decoration: none;
}

a:focus {
    outline: none;
}

input {
    font-family: 'MSC', sans-serif;
}

input:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

*::selection {
    background-color: @blue;
    color: #FFF;
}

.gray-background {
    background-color: #f7f8f8;
}

.main-block {
    padding: 80px 0;
}

.main-headline {
    color: #3f4144;
    display: inline-block;
    font-weight: 700;
    font-size: 55px;
    position: relative;

    span {
        align-items: center;
        background-image: url(../img/heptagon-small.png);
        background-repeat: no-repeat;
        bottom: 50px;
        color: #FFF;
        display: flex;
        font-size: 16px;
        font-weight: 900;
        height: 46px;
        justify-content: center;
        left: 100%;
        position: absolute;
        width: 46px;
    }

    &.main-headline_white {
        color: #FFF;
    }
}

.headline-small {
    color: #484f5b;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}

.product-board-link-list {
    
    &.product-board-link-list_main-slider {
        display: flex;

        .product-board-link-list__item {
            margin-right: 16px;
        }
    }
}

.product-board-link-list__item {
    border: 1px solid #bec2c4;
    height: 140px;
    padding: 16px 4px 16px 16px;
    position: relative;
    transition: all .2s ease-in-out;
    width: 140px;

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        background-color: #FFF;
        border-color: #FFF;

        .product-board-link-list__item-plus {
            fill: #191919;
        }

        .product-board-link-list__item-icon {
            fill: #007bad;
        }

        .product-board-link-list__item-text {
            color: #191919;
        }
    }
}

.product-board-link-list__item-plus {
    fill: #bec2c4;
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
}

.product-board-link-list__item-icon {
    align-items: center;
    display: flex;
    fill: #FFF;
    height: 34px;
    margin-bottom: 8px;
    transition: all .2s ease-in-out;
}

.product-board-link-list__item-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}