.block-products.main-block.container
    h2.main-headline Продукция
        span 02
    ul.block-products-list
        li.block-products-list__item
            .block-products-list__item-board
                .block-products-list__item-content
                    .block-products-list__item-icon.block-products-list__item-icon_01
                        include ../_common/svg/product-board-icon_01.svg
                    h3.block-products-list__item-headline Рукава высокого давления
                img(src="assets/img/product-board_01.png", alt="").block-products-list__item-img
                a(href="product.html")
            .block-products-list__item-text 
                p Собственное производство рукавов высокого давления компании «ОСК» оборудовано и оснащено современной производственной линией, которое позволяет производить рукава самых больших диаметров, тяжелых серий и конструкций. На нашем производстве работают опытные специалисты. Для изготовления рукавов применяются высококачественные комплектующие, в процессе производства ведётся контроль качества продукции с последующим тестированием на статические и динамические нагрузки с помощью специального испытательного стенда.
        li.block-products-list__item
            .block-products-list__item-board
                .block-products-list__item-content
                    .block-products-list__item-icon.block-products-list__item-icon_02
                        include ../_common/svg/product-board-icon_02.svg
                    h3.block-products-list__item-headline Промышленные рукава
                img(src="assets/img/product-board_02.png", alt="").block-products-list__item-img
                a(href="product.html")
            .block-products-list__item-text
                p Собственное производство рукавов высокого давления компании «ОСК» оборудовано и оснащено современной производственной линией, которое позволяет производить рукава самых больших диаметров, тяжелых серий и конструкций. На нашем производстве работают опытные специалисты. Для изготовления рукавов применяются высококачественные комплектующие, в процессе производства ведётся контроль качества продукции с последующим тестированием на статические и динамические нагрузки с помощью специального испытательного стенда.
        li.block-products-list__item
            .block-products-list__item-board
                .block-products-list__item-content
                    .block-products-list__item-icon.block-products-list__item-icon_03
                        include ../_common/svg/product-board-icon_03.svg
                    h3.block-products-list__item-headline Ленточные пилы по металлу
                img(src="assets/img/product-board_03.png", alt="").block-products-list__item-img
                a(href="product.html")
            .block-products-list__item-text 
                p Собственное производство рукавов высокого давления компании «ОСК» оборудовано и оснащено современной производственной линией, которое позволяет производить рукава самых больших диаметров, тяжелых серий и конструкций. На нашем производстве работают опытные специалисты. Для изготовления рукавов применяются высококачественные комплектующие, в процессе производства ведётся контроль качества продукции с последующим тестированием на статические и динамические нагрузки с помощью специального испытательного стенда.