.gray-background
    .main-block.main-block_news.container
        .main-block-headline_news
            h2.main-headline О компании
                span 01
            a.main-block-news__all(href="news.html") Все новости
        .slider-wrapper
            div.block-news-slider.js--block-news-slider 
                div.block-news__item
                    .block-news__item-img
                        img(src="assets/img/news_02.png", alt="")
                    .block-news__item-text-wrapper
                        time(datetime="2020-11-06") 06.11.2020
                        h2.block-news__item-headline Заголовок новости
                        p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
                    a(href="#")
                div.block-news__item
                    .block-news__item-img
                        img(src="assets/img/news_01.png", alt="")
                    .block-news__item-text-wrapper
                        time(datetime="2020-11-06") 06.11.2020
                        h2.block-news__item-headline Заголовок новости
                        p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
                    a(href="#")
                div.block-news__item
                    .block-news__item-img
                        img(src="assets/img/news_01.png", alt="")
                    .block-news__item-text-wrapper
                        time(datetime="2020-11-06") 06.11.2020
                        h2.block-news__item-headline Заголовок новости
                        p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий.
                    a(href="#")
            .slider-wrapper__arrow.slider-wrapper__arrow_prev.js--block-news-slider__arrow_prev
                include ../_common/svg/slider-prev.svg
            .slider-wrapper__arrow.slider-wrapper__arrow_next.js--block-news-slider__arrow_next
                include ../_common/svg/slider-next.svg