.main-slider__wrapper
    .main-slider.js--main-slider
        .main-slider__item
            .main-slider__item-content
                h2.main-slider__item-headline Ваши турбо
                    span преимущества
                ul.product-board-link-list.product-board-link-list_main-slider
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_01.svg
                        span.product-board-link-list__item-text Рукава высокого давления
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_02.svg
                        span.product-board-link-list__item-text Промышленные рукава
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_03.svg
                        span.product-board-link-list__item-text Ленточные пилы по металлу
                        a(href="product.html")
            .main-slider__item-img
                img(src="assets/img/main-bunner.png", alt="")
        .main-slider__item
            .main-slider__item-content
                h2.main-slider__item-headline Ваши турбо
                    span преимущества
                ul.product-board-link-list.product-board-link-list_main-slider
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_01.svg
                        span.product-board-link-list__item-text Рукава высокого давления
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_02.svg
                        span.product-board-link-list__item-text Промышленные рукава
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_03.svg
                        span.product-board-link-list__item-text Ленточные пилы по металлу
                        a(href="product.html")
            .main-slider__item-img
                img(src="assets/img/main-bunner.png", alt="")
        .main-slider__item
            .main-slider__item-content
                h2.main-slider__item-headline Ваши турбо
                    span преимущества
                ul.product-board-link-list.product-board-link-list_main-slider
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_01.svg
                        span.product-board-link-list__item-text Рукава высокого давления
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_02.svg
                        span.product-board-link-list__item-text Промышленные рукава
                        a(href="product.html")
                    li.product-board-link-list__item
                        .product-board-link-list__item-plus
                            include ../_common/svg/plus.svg
                        .product-board-link-list__item-icon
                            include ../_common/svg/product-board-icon_03.svg
                        span.product-board-link-list__item-text Ленточные пилы по металлу
                        a(href="product.html")
            .main-slider__item-img
                img(src="assets/img/main-bunner.png", alt="")
.main-slider__nav.container
    .main-slider__nav-item.main-slider__nav-item_prev.js--main-slider__nav-item_prev
    .main-slider__nav-item.main-slider__nav-item_next.js--main-slider__nav-item_next