doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.typical-content
                h1.page-headline.page-headline_without-wrapper Промышленные рукава
                img(src="assets/img/typical_01.png", alt="")
                p Компания "ОСК" более 20 лет успешно осуществляет поставки оборудования и расходных материалов для деревообрабатывающих, лесозаготовительных и машиностроительных предприятий, а также предприятий нефтегазовой, пищевой, горнодобывающей, целлюлозно-бумажной отраслей.
                p Мы являемся официальным российским дистрибьютором таких известных торговых марок, как BANSO (Германия), FORESTILL (Франция), Lenox (США), PILANA (Чешская Республика), AMADA (Япония), SEMPERIT (Австрия), Wood-Mizer (Республика Польша). Компания "ОСК" осуществляет продажу промышленной гидравлики, деревообрабатывающего оборудования и металлорежущего инструмента.
                h1 Заголовок страницы 1
                h2 Заголовок страницы 2
                h3 Заголовок страницы 3
                h4 Заголовок страницы 4
                h5 Заголовок страницы 5
                h6 Заголовок страницы 6
                a(href="#") Ссылка
                ol
                    li Шланг
                    li Заглушка
                    li Вентель
                ul
                    li Колба
                    li Резина
                    li Дубина
                .table-wrapper
                    table
                        tr
                            th Должность
                            th ФИО
                            th Телефон
                        tr
                            td Глава Пермского муниципального района, председатель Земского Собрания
                            td КУЗНЕЦОВ Александр Павлович
                            td 296-21-42
                        tr
                            td Глава Пермского муниципального района, председатель Земского Собрания
                            td КУЗНЕЦОВ Александр Павлович
                            td 296-21-42
            include ./templates/mobile-menu/mobile-menu.pug
        footer
            include ./templates/footer/footer.pug