.modal#modal
    form(action="")
        h2.modal-headline Оставьте свою заявку
        label.input-usual(for="")
            input(type="text", name="name" placeholder="Имя *" required)
        label.input-usual(for="")
            input(type="tel", name="phone" placeholder="Телефон *" required)
        input.input-submit(type="submit", value="Отправить")