h2.product-nav__headline Продукция
ul.product-board-link-list.product-board-link-list__product-nav
    li.product-board-link-list__item.product-board-link-list__gray
        .product-board-link-list__item-plus
            include ../_common/svg/plus.svg
        .product-board-link-list__item-icon
            include ../_common/svg/product-board-icon_01.svg
        span.product-board-link-list__item-text Рукава высокого давления
        a(href="product.html")
    li.product-board-link-list__item.product-board-link-list__gray.active
        .product-board-link-list__item-plus
            include ../_common/svg/plus.svg
        .product-board-link-list__item-icon
            include ../_common/svg/product-board-icon_02.svg
        span.product-board-link-list__item-text Промышленные рукава
        a(href="product.html")
    li.product-board-link-list__item.product-board-link-list__gray
        .product-board-link-list__item-plus
            include ../_common/svg/plus.svg
        .product-board-link-list__item-icon
            include ../_common/svg/product-board-icon_03.svg
        span.product-board-link-list__item-text Ленточные пилы по металлу
        a(href="product.html")
a.request-button(href="javascript:;")
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='15px', height='26px')
        path(d='M0.008,12.999 C0.008,9.513 0.008,6.026 0.008,2.540 C0.008,1.041 1.081,0.003 2.629,0.003 C5.886,0.003 9.144,0.002 12.401,0.001 C13.909,0.000 14.994,1.047 14.994,2.512 C14.995,9.503 14.996,16.494 14.996,23.485 C14.996,24.946 13.911,25.996 12.401,25.996 C9.107,25.997 5.812,25.997 2.517,25.995 C1.121,25.994 0.011,24.923 0.009,23.568 C0.005,20.045 0.008,16.522 0.008,12.999 ZM1.061,20.305 C5.371,20.305 9.650,20.305 13.936,20.305 C13.936,14.374 13.936,8.463 13.936,2.550 C9.633,2.550 5.347,2.550 1.061,2.550 C1.061,8.478 1.061,14.383 1.061,20.305 ZM6.197,22.920 C6.201,23.613 6.785,24.178 7.497,24.174 C8.245,24.170 8.810,23.607 8.803,22.872 C8.796,22.196 8.216,21.651 7.503,21.650 C6.766,21.649 6.194,22.205 6.197,22.920 ZM7.501,1.746 C7.501,1.746 7.501,1.745 7.501,1.744 C7.790,1.744 8.078,1.743 8.366,1.745 C8.575,1.746 8.720,1.656 8.727,1.453 C8.735,1.231 8.577,1.133 8.363,1.132 C7.786,1.128 7.210,1.130 6.633,1.133 C6.432,1.135 6.275,1.224 6.272,1.430 C6.268,1.645 6.412,1.748 6.636,1.747 C6.924,1.744 7.213,1.746 7.501,1.746 Z')
    span Оформить заявку